[submodule "vendor/lzsa"]
	path = vendor/lzsa
	url = https://github.com/ddanila/lzsa
[submodule "vendor/xz"]
	path = vendor/xz
	url = https://github.com/ddanila/xz
[submodule "vendor/kvikdos"]
	path = vendor/kvikdos
	url = https://github.com/ddanila/kvikdos
	branch = improvements
